body
  background: $white
  line-height: 1.4
  font-size: $fz
  min-width: 320px
  +reg
  color: $c-text
  +no-scroll
  +sm
    font-size: $fz-sm-px

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.lazy
  &.is-loaded:not(.no-fade-in)
    animation: fadeIn 1s

.container
  width: 100%
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto
  max-width: 1440px

.logo
  font-size: 0
  display: inline-block
    