{%set
articles = [
  {
    title: 'Как проверить, правильно ли вы 
задали настройки для печати?',
    text: 'Наша компания осуществляет заказы от 100 грн. Доставка заказов платная - дорогу оплачивает покупатель. 
Стоимость доставки расчитывается по тарифам, выбранн... перевозчика. '
  },
  {
    title: 'Как устроена Полиграфия? 
',
    text: 'Полиграфия - это специально спроектированное 
и построенное здание из нескольких огромных, хорошо освещенных, чистых помещений, разделенных на зоны...'
  }
]
%}

{% if aside.full %}
  <div class="section__block">
    {% include "partials/_form.html" %}
  </div>
{% endif %}

<div class="section__block">
  <!-- begin block -->
  <div class="block">
    <div class="block__title">
      <h3 class="title title--h3 title--arci">Требования к макету</h3>
    </div>

    <div class="block__text">
      {{ mixins.list(
        name = 'list',
        modifications = { wrap: 'list--left', item: '', link: '' },
        list = [
          { item: '<strong>Макет без меток</strong> приводки, резки, фальцовки, подписей цвета и любых других элементов, выходящих рамку края макета;' },
          { item: '<strong>Файл с макетом</strong> не должен содержать лишних элементов <em>(скрытых элементов в слои)</em>, которые не печатаются! ' },
          { item: 'Макет, изготовленный в программах для векторной графики должен иметь четкий размер, ограниченный прозрачной рамкой за которой только пустое поле! Никаких линий, текстов, точек или других элементов!' },
          { item: 'Все элементы <strong>макета</strong>, включая растровые и векторные иллюстрации, должны быть выполнены в цветовых пространствах CMYK, Grayscale. RGB допускается только для плакатов с предупреждением о автозамене неоновых цветов;' },
          { item: 'Текст не должен располагаться ближе <em>5 мм</em>. от края макета; размер макета должен превышать размер готового изделия на <em>4 мм</em>. по высоте и на <em>4 мм</em>. по длине для подрезки, как показано на схеме выше.' }
        ]
      ) }}
    </div>
  </div>
  <!-- end block -->
</div>

{% if aside.full %}
<div class="section__block">
  <!-- begin block -->
  <div class="block">
    <div class="block__title">
      <h3 class="title title--h3 title--arci">Условия заказа</h3>
    </div>

    <div class="block__text">
      {{ mixins.list(
        name = 'list',
        modifications = { wrap: 'list--left', item: '', link: '' },
        list = [
          { item: 'Наша компания осуществляет заказы от <strong>100 грн</strong>. Доставка заказов платная - дорогу оплачивает покупатель. ' },
          { item: 'Стоимость доставки расчитывается по тарифам, выбранного перевозчика. ' },
          { item: 'Полученный нами заказ отправляется на сборку. Менеджер свяжется с Вами что бы оговорить возможные замены, если вдруг отсутствует какая-либо товарная позиция. ' },
          { item: 'В случае, если Вы сделали заказ и выбрали способом оплаты <strong>«Предоплата на карту Приватбанка»</strong> и в Вашем заказе все есть в наличии — мы отправляем Вам смс сообщение с реквизитами и суммой на оплату.' }
        ]
      ) }}
    </div>
  </div>
  <!-- end block -->
</div>
{% endif %}

<div class="section__title">
  <h3 class="title title--sm">Интересные статьи</h3>
</div>

{% for i in articles %}
<div class="section__block">
  {% include "partials/_article-card.html" %}
</div>
{% endfor %}

{% if aside.full %}
<div class="text-center">
  <a href="#" class="link">Читать все статьи</a>
</div>
{% endif %}