{{ mixins.list(
  name = 'nav',
  modifications = { wrap: '', item: '', link: '' },
  list = [
    { link: 'Для студентов
и диссертантов', modLink: '', item: '' },
    { link: 'Широкоформатная
печать', modLink: 'is-active', item: '' },
    { link: 'Широкоформатное 
копирование', modLink: '', item: '' },
    { link: 'Дополнительные 
услуги', modLink: '', item: '' },
    { link: 'Требования
к макетам', modLink: '', item: '' },
    { link: 'Доставка
и оплата', modLink: '', item: '' },
    { link: 'Полезная
информация', modLink: '', item: '' },
    { link: 'Контакты', modLink: '', item: '' }
  ]
) }}