<!-- begin slider -->
<div class="slider__wrap">
  <div class="slider js-slider js-lightgallery" data-slider="gallery">
    {% for i in range(0, 10) %}
    <a
      href="./img/21.jpg"
      class="slide gallery-thumb"
      >
        <span class="gallery-thumb__img js-lazy" data-background-image="./img/21.jpg"></span>
        <span class="gallery-thumb__cover">{{ mixins.icon('search') }}</span>
      </a>
    {% endfor %}
  </div>

  <div class="slider__controls">
    <button class="slider__prev prev js-slider-prev"></button>
    <button class="slider__next next js-slider-next"></button>
  </div>
</div>
<!-- end slider -->