{%set
articles = [
  { img: 'OT1C850.jpg', title: 'Как проверить, правильно ли вы 
задали настройки для печати?' },
  { img: '19.jpg', title: 'Как устроена Полиграфия? ' },
  { img: 'OT1C720.jpg', title: 'Как устроена Полиграфия? ' },
  { img: '489238-PH0A9F-967.jpg', title: 'Как проверить, правильно ли вы 
задали настройки для печати?' },
  { img: '12893.jpg', title: 'Как устроена Полиграфия? ' },
  { img: '4617.jpg', title: 'Как устроена Полиграфия? ' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for i in articles %}
      <div class="col-md-4 col-sm-6">
        {% include "partials/_article-card.html" %}
      </div>
      {% endfor %}
    </div>

    {% include "partials/_pagination.html" %}
  </div>
</section>
<!-- end section -->