{%set
tabs = [
  { name: 'students', mod: 'is-active' },
  { name: 'print' },
  { name: 'copy' },
  { name: 'services' }
]
%}

{%set
services = [
  { img: '30.jpg', title: 'Твердый переплет 
дипломные работы' },
  { img: '27.jpg', title: 'Твердый переплет 
диссертации' },
  { img: '28.jpg', title: 'Авторефераты
диссертаций' },
  { img: '29.jpg', title: 'Раздаточный
материал' },
  { img: '31.jpg', title: 'Цветная и ч/б
распечатка А4' },
  { img: '32.jpg', title: 'Цветная и ч/б
распечатка А3' },
  { img: '34.jpg', title: 'Презентации' }
]
%}

<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title">
      <h2 class="title">Выберите услугу</h2>
    </div>
    </div>

    <!-- begin services-tabs -->
    <div class="services-tabs js-tabs">
      <div class="container">
        <div class="services-tabs__tabs">
          {{ mixins.list(
            name = 'services-tabs-list',
            modifications = { wrap: '', list: 'services-tabs-list__list', item: 'services-tabs-list__item', link: '' },
            list = [
              { item: '<button class="services-tabs-list__btn js-tab is-active" data-target-tab="students">Для студентов и диссертантов</button>' },
              { item: '<button class="services-tabs-list__btn js-tab" data-target-tab="print">широкоформатная печать</button>' },
              { item: '<button class="services-tabs-list__btn js-tab" data-target-tab="copy">широкоформатное копирование</button>' },
              { item: '<button class="services-tabs-list__btn js-tab" data-target-tab="services">дополнительные услуги</button>' }
            ]
          ) }}
        </div>

        <div class="services-tabs__content">
          {% for j in tabs %}
          <div class="services-tabs__item js-tabs-item{% if j.mod %} {{ j.mod }}{% endif %}" data-tab="{{ j.name }}">
            <!-- begin services -->
            <div class="services">           
              <div class="row">     
                {% for i in services %}
                <div class="col-lg-3 col-md-4 col-6">
                  {% include "partials/_service-card.html" %}
                </div>
                {% endfor %}
              </div>
            </div>
            <!-- end services -->
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- end services-tabs -->
  
</section>
<!-- end section -->