<!-- begin section -->
<section class="section">
  <!-- begin two-cols -->
  <div class="two-cols">
    <div class="two-cols__col">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            {% include "partials/_seo-text.html" %}
          </div>
        </div>
      </div>
    </div>

    <div class="two-cols__col two-cols__col-abs">
      <div class="two-cols__img js-lazy" data-background-image="./img/bg-seo.jpg"></div>
    </div>
  </div>
  <!-- end two-cols -->
</section>
<!-- end section -->