<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section__breadcrumbs">
          {{ mixins.list(
            name = 'breadcrumbs',
            modifications = { wrap: '', item: '', link: '' },
            list = [
              { link: 'Главная' },
              { item: '-' },
              { link: 'Для студентов и диссертантов' },
              { item: '-' },
              { link: 'Твердый переплет Дипломная работа', modLink: 'is-active' }
            ]
          ) }}
        </div>

        <div class="section__title">
          <h1 class="title">Твердый переплет Дипломная работа</h1>
        </div>

        <div class="section__nav js-sticky-polyfill">
          <!-- begin block -->
          <div class="block block--sm">
            {{ mixins.list(
              name = 'block-nav',
              modifications = { wrap: '', list: 'block-nav__list', item: 'block-nav__item', link: 'block-nav__link js-scroll-to' },
              list = [
                { link: 'Об услуге', modLink: 'is-active', href: '#about' },
                { link: 'Таблица с ценами', href: '#prices' },
                { link: 'Какие материалы используем', href: '#matherials' },
                { link: 'Выполненые работы', href: '#works' },
                { link: 'Дополнительные услуги', href: '#services' }
              ]
            ) }}
          </div>
          <!-- end block -->
        </div>

        <!-- begin article -->
        <div class="article mb-md">
          <article id="about">
            <figure>
              <img class="js-lazy" alt="" src="" data-src="./img/service/15.jpg"/>
            </figure>

            <img class="js-lazy is-right" alt="" src="" data-src="./img/service/36.jpg"/>

            <p>За долгое время своего существования компания ГЕРО помогла тысячам студентов в оформлении и печати дипломных работ. Ваши дипломные работы, диссертации, рефераты мы с радостью 
              напечатаем на профессиональном уровне и переплетем, а также сделаем тиснение золотом или серебром! Вы даже можете заказать доставку своей отпечатанной дипломной работы на дом или 
              забрать из нашего офиса. Руководит предприятием вот этот человек — Павел Арсеньев. Человек, который с нуля организовал свой.. 
            </p>
            <p>Он начинал проект с нуля, когда в этом месте еще ничего не было. Павел составлял бизнес-план, проектировал типографию, 
              подбирал оборудование, формировал команду менеджеров и 
            сотрудников, находил место под застройку и контролировал её. Все обязаны только Павлу Арсеньеву! Именно он всех контролирует.</p>

            <img class="js-lazy is-left" alt="" src="" data-src="./img/service/37.jpg"/>

            <p>Главная ценность ГЕРО – люди. Нам важно выстраивать долгосрочные и продуктивные взаимоотношения со всеми людьми, которые
            формируют бренд ГЕРО – это наши любимые клиенты, сотрудники</p>

            <ol>
              <li>Kinder</li>
              <li>Nestle</li>
              <li>Fanta</li>
              <li>Motor Generals</li>
            </ol>

            <p>Он начинал проект с нуля, когда в этом месте еще ничего не было. Павел составлял сам бизнес-план, проектировал сво типографию, 
              подбирал оборудование, формировал команду менеджеров и 
              сотрудников, находил место под застройку и контролировал её 
              от первого дня до последнего. В производство вложено почти 
            три миллиарда рублей и сейчас типография вышла на расчетную мощность, работая всегда круглосуточно, целых семь дней:.</p>

            <ul>
              <li>команда менеджеров и сотрудников</li>
              <li>сотрудники конкурентов</li>
              <li>директора всех ближайших отделений</li>
              <li>льготы и специальные предложения</li>
            </ul>
          </article>

          <article id="prices">
            <p><em>Стоимость указана для печати Online на офисной бумаге, 80 гр./кв.м.  </em></p>

            <table>
              <tr>
                <th>количество <br> листов</th>
                <th>ч/б печать <br> (текст и графики)</th>
                <th>печать цветная <br> (заливка до 30%)</th>
                <th>печать цветная <br> (больше 30%)</th>
              </tr>
              {% for i in range(0, 14) %}
              <tr>
                <td><strong>1-2</strong></td>
                <td>2.00</td>
                <td>4.00</td>
                <td>8.00</td>
              </tr>
              {% endfor %}
            </table>
          </article>

          <article id="matherials">
            <!-- begin block -->
            <div class="block block--gray">
              {{ mixins.list(
                name = 'list',
                modifications = { wrap: 'list--left', item: '', link: '' },
                list = [
                  { item: 'Мы сделаем точный расчет и согласуем техническое задание, подскажем с материалами и дизайном' },
                  { item: 'Оплатить можно наличными, картой онлайн, по безналичному расчету (мы выдаем чек и все закрывающие документы)' },
                  { item: 'Мы упакуем Ваш заказ, и Вы сможете получить его в нашем офисе или заказать доставку в любую точку ' },
                  { item: 'Мы сделаем точный расчет и согласуем техническое задание, подскажем с материалами и дизайном' },
                  { item: 'Оплатить можно наличными, картой онлайн, по безналичному расчету (мы выдаем чек и все закрывающие документы)' },
                  { item: 'Мы упакуем Ваш заказ, и Вы сможете получить его в нашем офисе или заказать доставку в любую точку ' }
                ]
              ) }}
            </div>
            <!-- end block -->
          </article>

          <article id="works">
            <div class="section__title">
              <h2 class="title">Выполненные работы</h2>
            </div>

            {% include "partials/_works-slider.html" %}
          </article>
        </div>
        <!-- end article -->
      </div>

      <div class="col-lg-4">
        {% include "partials/_aside.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->