.form
  text-align: center   
  &__title
    margin-bottom: 10px
  &__subttl
    margin-bottom: 30px
    +md
      margin-bottom: 15px
  &__field
    +notlast
      margin-bottom: 15px
  &__block-title
    text-align: left
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__block
    +notlast
      margin-bottom: 25px
      +md
        margin-bottom: 15px
  &__radios
    +flex(flex-start, center)
    .input
      +notlast
        margin-right: 45px
  &__chekcboxes
    .input
      +notlast
        margin-bottom: 10px