.services-tabs
  overflow: hidden
  &__tabs
    margin-bottom: 60px
    position: relative
    +before
      border-top: 1px solid  $accent
      bottom: 0
      left: 50%
      transform: translate(-50%, 0)
      z-index: 0
      width: 100vw
      position: absolute
    +xl
      padding-top: 50px
      padding-bottom: 50px
    +lg
      padding-top: 40px
      padding-bottom: 40px
    +md
      padding-top: 30px
      padding-bottom: 30px

.services-tabs-list
  &__list
    +flex()
  &__btn
    text-align: center
    display: block
    text-transform: uppercase
    font-size: $fz-sm
    border: 1px solid transparent
    border-bottom: 0
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    background-color: $gray-lightest
    padding: 1.35em
    min-width: 360px
    +tr(background-color .3s, color .3s, border-color .3s)
    &.is-active
      font-weight: 700
      background-color: $white
      border-color: $accent
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.12)
      position: relative
      z-index: 1
    +hover
      // @extend .services-tabs-list__btn.is-active
      font-weight: 700
